.play-button-section{
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button{
    transform: scale(1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top : -7px
  }

.play-button:hover{
transform: scale(1.1);
}